---
# handlers file for avchecker

- name: Restart avchecker@ services
  become: true
  ansible.builtin.systemd:
    name: "avchecker@{{ item.key }}.service"
    state: restarted
    enabled: "true"
    daemon_reload: "true"
  loop: "{{ avchecker_defaults | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
