---
- name: Copy package
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/tmp/"
    mode: "0600"
  loop: "{{ haproxy_local_package_names }}"

- name: Install local haproxy packages when defined
  become: true
  ansible.builtin.dnf:
    name: "/tmp/{{ item }}"
    state: "{{ haproxy_package_state }}"
    disable_gpg_check: "true"
  loop: "{{ haproxy_local_package_names }}"

- name: Install haproxy packages when defined
  become: true
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: "{{ haproxy_package_state }}"
    disable_gpg_check: "true"
  loop: "{{ haproxy_package_names }}"

- name: Ensure HAProxy is installed.
  ansible.builtin.dnf:
    name:
      - "{{ item }}"
      - checkpolicy
    disable_gpg_check: "true"
    state: "{{ haproxy_package_state }}"
  loop: "{{ haproxy_package_names }}"

- name: Get HAProxy version.
  ansible.builtin.command: haproxy -v
  register: haproxy_version_result
  changed_when: "false"
  check_mode: "false"

- name: Set HAProxy version.
  ansible.builtin.set_fact:
    haproxy_version: '{{ haproxy_version_result.stdout_lines[0] | regex_replace("^HA-Proxy version ([0-9]\.[0-9]).*$", "\1") }}'

- name: Copy HAProxy configuration in place.
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    mode: "0644"
    # validate: haproxy -f %s -c -q
  notify: Restart haproxy

- name: Ensure HAProxy is started and enabled on boot
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: "true"
