---
- name: Get semodule list
  ansible.builtin.command: semodule -l
  register: haproxy_semodule_list
  changed_when: false
  when:
    - ansible_distribution_file_variety is defined
    - ansible_distribution_file_variety == 'RedHat'

- name: Install haproxy
  ansible.builtin.include_tasks: "install.yml"
- name: Setup selinux for haproxy
  ansible.builtin.include_tasks: "selinux.yml"
  when:
    - ansible_distribution_file_variety is defined
    - ansible_distribution_file_variety == 'RedHat'
    - "'my-haproxy' not in semodule_list.stdout_lines"

- name: Configure haproxy
  ansible.builtin.include_tasks: "config.yml"
