---
- name: Create folders
  ansible.builtin.file:
    state: directory
    owner: "{{ item.value.owner }}"
    path: "{{ item.value.path }}"
    mode: "0700"
  loop: "{{ stolon_cert_folders | dict2items }}"
  loop_control:
    label: "{{ item.key }} -> {{ item.value.path }}"

- name: Deploy files
  ansible.builtin.copy:
    dest: "{{ item.value.path }}"
    content: "{{ item.value.body }}"
    owner: "{{ item.value.owner | default('root') }}"
    mode: "0600"
  loop: "{{ stolon_cert_files | dict2items }}"
  loop_control:
    label: "{{ item.key }} -> {{ item.value.path }}"
