---
- name: Swapiness instellen
  ansible.builtin.copy:
    content: "{{ stolon_sysctl }}"
    dest: /etc/sysctl.d/postgresql.conf
    mode: "0600"
  notify: Apply sysctl changes

- name: Install sysconfig configuration
  become: true
  become_user: root
  ansible.builtin.template:
    src: "stolon.sysconfig.j2"
    dest: "/etc/sysconfig/stolon-{{ item.key }}"
    owner: "root"
    group: "root"
    mode: "0644"
  loop: "{{ stolon_sysconfig | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  notify: "Restart stolon-{{ item.key }}"

- name: Install custom_config file
  become: true
  become_user: root
  ansible.builtin.template:
    src: "custom_config.yml.j2"
    dest: "{{ stolon_custom_config_file }}"
    owner: "{{ stolon_user }}"
    group: "{{ stolon_group }}"
    mode: "0644"
  notify:
    - Update cluster spec

- name: Install stolon systemd services
  become: true
  become_user: "root"
  ansible.builtin.template:
    src: "stolon-{{ item }}.service.j2"
    dest: "/etc/systemd/system/stolon-{{ item }}.service"
    force: true
    mode: "0644"
  loop: "{{ stolon_services }}"
  notify: "Restart stolon-st{{ item }}"

- name: Init when needed
  become: true
  become_user: "{{ stolon_user }}"
  ansible.builtin.shell:
    cmd: "/usr/local/bin/stolonctl status || /usr/local/bin/stolonctl init -y"
  args:
    creates: "{{ stolon_data_dir }}/PG_VERSION"
    executable: "/bin/bash"
  environment:
    STOLONCTL_CLUSTER_NAME: "{{ stolon_cluster_name }}"
    STOLONCTL_STORE_BACKEND: "{{ stolon_store_backend }}"

- name: Add logrotate
  ansible.builtin.copy:
    content: "{{ stolon_logrotate_config }}"
    dest: /etc/logrotate.d/postgresql
    mode: "0644"
    owner: root
    group: root
