---
- name: Fix selinux
  ansible.builtin.include_tasks: "selinux.yml"

- name: Checking for valid certs config
  ansible.builtin.assert:
    that:
      - "'\n' in stolon_client_cert"
      - "'\n' in stolon_client_chain"
      - "'\n' in stolon_client_key"
      - "'\n' in stolon_server_cert"
      - "'\n' in stolon_server_key"
      - "'\n' in stolon_server_chain"
    fail_msg: "Please run chainsmith to succesfully setup certs"
    success_msg: "Client and server certs seem properly setup"
  when: stolon_cert_managed

- name: Get user info for {{ stolon_user }}
  ansible.builtin.getent:
    database: passwd
    key: "{{ stolon_user }}"
    split: ":"

- name: Install stolon
  ansible.builtin.include_tasks: install.yml
- name: Get size of wal dir in bytes
  ansible.builtin.shell:
    cmd: "set -o pipefail && df -B1 . | awk '{if(NR==2){print $4}}'"
  args:
    chdir: "{{ stolon_wal_dir }}"
  register: stolon_get_wal_dir_size
  changed_when: false

- name: Configure stolon
  ansible.builtin.include_tasks: configure.yml
- name: Deploy certs
  ansible.builtin.include_tasks: certs.yml
  when: stolon_cert_managed
- name: Setup logging
  ansible.builtin.include_tasks: pglogging.yml
- name: Start stolon
  ansible.builtin.include_tasks: start.yml
- name: Wait for stolon port to be active
  ansible.builtin.command: "{{ stolon_pg_bin_path }}/pg_isready"
  environment:
    PGHOST: "/tmp"
    PGPORT: "{{ stolon_pg_port }}"
  retries: 60
  delay: 1
  register: stolon_pg_isready
  until: stolon_pg_isready.rc == 0
  changed_when: false

- name: Create an postgres users (hack)
  become: true
  become_user: "postgres"
  community.postgresql.postgresql_user:
    name: "{{ item }}"
    role_attr_flags: SUPERUSER
  environment:
    PGSERVICE: master
  run_once: true
  loop: "{{ stolon_pgusers }}"
