---
# tasks file for stolon
- name: Get semodule list
  ansible.builtin.command: semodule -l
  register: semodule_list

- ansible.builtin.include_tasks: "selinux.yml"
  when:
    - "'my-stolon' not in semodule_list.stdout_lines"

- name: Checking for valid certs config
  ansible.builtin.assert:
    that:
      - "'\n' in stolon_client_cert"
      - "'\n' in stolon_client_chain"
      - "'\n' in stolon_client_key"
      - "'\n' in stolon_server_cert"
      - "'\n' in stolon_server_key"
      - "'\n' in stolon_server_chain"
    fail_msg: "Please run chainsmith to succesfully setup certs"
    success_msg: "Client and server certs seem properly setup"
  when: stolon_cert_managed

- ansible.builtin.getent:
    database: passwd
    key: "{{ stolon_user }}"
    split: ":"

- ansible.builtin.include_tasks: install.yml
- name: Get size of wal dir in bytes
  ansible.builtin.shell:
    cmd: "df -B1 . | awk '{if(NR==2){print $4}}'"
  args:
    chdir: "{{ stolon_wal_dir }}"
  register: wal_dir_size

- ansible.builtin.include_tasks: configure.yml
- ansible.builtin.include_tasks: certs.yml
  when: stolon_cert_managed
- ansible.builtin.include_tasks: pglogging.yml
- ansible.builtin.include_tasks: start.yml
- name: Wait for stolon port to be active
  ansible.builtin.command: "{{ stolon_pg_bin_path }}/pg_isready"
  environment:
    PGHOST: "/tmp"
    PGPORT: "{{ stolon_pg_port }}"
  retries: 60
  delay: 1
  register: pg_isready
  until: pg_isready.rc == 0

- name: Create an postgres users (hack)
  become_user: "postgres"
  ansible.builtin.shell: psql -tc "select * from pg_user where usename='{{ item }}'" | grep -q '[a-zA-Z0-9]' || psql -c "create user {{ item }}; alter user {{
    item }} superuser;"
  environment:
    PGSERVICE: master
  throttle: 1
  loop: "{{ stolon_pgusers }}"
