---
- name: Create log directory
  ansible.builtin.file:
    dest: "{{ stolon_pg_log_directory }}"
    state: directory
    owner: "{{ stolon_user }}"
    group: "{{ stolon_group }}"
    mode: "{{ stolon_pg_log_dir_mode }}"
  when: not stolon_pg_log_directory.startswith(stolon_pg_datadir)

- name: "Postgres maintenance jobs"
  ansible.builtin.cron:
    name: "{{ item.name }}"
    user: "{{ stolon_user }}"
    minute: "{{ item.minute | default('*') }}"
    hour: "{{ item.hour | default('*') }}"
    day: "{{ item.day | default('*') }}"
    weekday: "{{ item.weekday | default('*') }}"
    job: "{{ item.command }}"
    cron_file: postgresql
  loop: "{{ stolon_pg_jobs }}"
  loop_control:
    label: "{{ item.name }}"
  when: stolon_pg_cron_enabled

- name: Set mailto for postgres cron
  community.general.cronvar:
    name: MAILTO
    value: "{{ stolon_pg_cron_mailto }}"
    user: "{{ stolon_user }}"
    cron_file: postgresql
  when: stolon_pg_cron_enabled
