---
- name: Flush handlers
  ansible.builtin.meta: flush_handlers
- name: Start stolon systemd services
  become: true
  ansible.builtin.systemd:
    name: "stolon-{{ item }}.service"
    state: started
    enabled: "true"
    daemon_reload: "true"
  loop: "{{ stolon_services }}"
