---
- name: Create config file
  ansible.builtin.template:
    src: "templates/nagios_server.cfg.j2"
    dest: "{{ item.path }}/{{ inventory_hostname }}.cfg"
  delegate_to: "{{ item.hostname }}"
  loop: "{{ nagios_servers }}"
  when: item.enabled
  notify: reload nagios

- name: Create custom config file (when enabled)
  ansible.builtin.template:
    src: "templates/nagios_server_custom.cfg.j2"
    dest: "{{ item.path }}/{{ inventory_hostname }}-custom.cfg"
  delegate_to: "{{ item.hostname }}"
  loop: "{{ nagios_servers }}"
  when: item.enabled
  notify: reload nagios

- name: Delete config file (when disabled)
  ansible.builtin.file:
    dest: "{{ item.path }}/{{ inventory_hostname }}-custom.cfg"
    state: absent
  delegate_to: "{{ item.hostname }}"
  loop: "{{ nagios_servers }}"
  when: not item.enabled
  notify: reload nagios
