---
# tasks file for nagios

- name: Create an nrpe user in Postgres
  become: true
  become_user: "postgres"
  community.postgresql.postgresql_user:
    name: "{{ nagios_nrpe_user }}"
    state: present
    role_attr_flags: SUPERUSER
  environment:
    PGSERVICE: master
  run_once: true

- name: Install dependencies
  ansible.builtin.dnf:
    name: "{{ nagios_packages }}"
    state: "{{ nagios_package_state }}"

- name: Get size of data dir in bytes
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      df -B1 . | awk '{if(NR==2){print $4}}'
  args:
    chdir: "{{ item }}"
  loop:
    - "{{ nagios_data_dir_mp }}"
    - "{{ nagios_wal_dir_mp }}"
  changed_when: false
  register: nagios_mp_sizes_out

- name: Debug
  ansible.builtin.debug:
    var: nagios_mp_size

- name: Create custom script folder
  ansible.builtin.file:
    path: "{{ nagios_scripts_folder }}"
    state: directory
    mode: "0755"

- name: Deploy custom scripts
  ansible.builtin.copy:
    src: "files/nrpe/"
    dest: "{{ nagios_scripts_folder }}/"
    mode: "0755"

- name: Create links for check_postgres.pl
  ansible.builtin.file:
    src: /usr/bin/check_postgres.pl
    dest: "{{ nagios_scripts_folder }}/{{ item }}"
    state: link
  loop: "{{ nagios_check_postgres_links }}"

- name: Config files
  ansible.builtin.template:
    src: "templates/{{ item.key }}.j2"
    dest: "{{ nagios_config_folder }}/{{ item.key }}.cfg"
    owner: "{{ nagios_nrpe_user }}"
    group: "{{ nagios_nrpe_group }}"
    mode: "0600"
  loop: "{{ nagios_checks | dict2items }}"
  loop_control:
    label: "{{ item.key }}"

# We rely on nrpe user to directly connect to Postgres with Pipes
# Stolon has these named pipes in /tmp
# NRPE by default has PrivateTmp=true, and thus cannot connect to postgres on /tmp/.s.PGSQL.5432
# So, set PrivateTmp=false for this to work
- name: Create nrpe override folder
  ansible.builtin.file:
    dest: /etc/systemd/system/nrpe.service.d
    state: directory
    mode: "0755"
- name: Don't set PrivateTmp for nrpe service
  ansible.builtin.copy:
    dest: /etc/systemd/system/nrpe.service.d/override.conf
    mode: "0644"
    content: |
      [Service]
      PrivateTmp=false

- name: "Start nrpe service"
  become: true
  ansible.builtin.systemd:
    name: nrpe.service
    state: restarted
    enabled: "false"
    daemon_reload: "true"
