---
- name: Set required flags on and keep it persistent across reboots
  ansible.posix.seboolean:
    name: "{{ item }}"
    state: "true"
    persistent: "true"
  loop:
    - domain_can_mmap_files

- name: Create temporary build directory
  ansible.builtin.tempfile:
    state: directory
    suffix: build
  register: tempfolder

- name: Copy module file
  ansible.builtin.copy:
    src: "files/{{ item }}.te"
    dest: "{{ tempfolder.path }}/{{ item }}.te"
  loop: "{{ nagios_selinux_modules }}"

- name: Install selinux module if needed
  ansible.builtin.shell: |
    cd "{{ tempfolder.path }}"
    for F in *.te; do
      MOD=$(basename $F .te)
      checkmodule -M -m -o $MOD.mod $MOD.te
      semodule_package -o $MOD.pp -m $MOD.mod
      semodule -i $MOD.pp
    done
