[local]
host=/tmp
port={{ stolon_pg_port }}

[proxy]
host={{ ansible_hostname }}
port={{ stolon_proxy_port }}

[master]
host={{ stolon_cluster_hosts | join(',') }}
port={{ stolon_pg_port }}
target_session_attrs=read-write

{% if stolon_pg_version >= 13 %}
[standby]
host={{ stolon_cluster_hosts | join(',') }}
port={{ stolon_pg_port }}
target_session_attrs=read-only
{% endif %}
