[local]
host=/tmp
port={{ stolon_pg_port }}

[proxy]
host={{ stolon_proxy_host }}
port={{ stolon_proxy_port }}
sslmode=verify-full

[master]
host={{ stolon_cluster_hosts }}
port={{ stolon_pg_port }}
target_session_attrs=read-write
sslmode=verify-full

{% if stolon_pg_version >= 13 %}
[standby]
host={{ stolon_cluster_hosts }}
port={{ stolon_pg_port }}
target_session_attrs=read-only
{% endif %}
