# This is an example systemd config file for Stolon
# You can copy it to "/etc/systemd/system/stolon-keeper.service",

[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target network.target

[Service]
Type=simple

User=postgres
Group=postgres

EnvironmentFile=-/etc/sysconfig/stolon-stsentinel
ExecStart=/usr/local/bin/stolon-sentinel

[Install]
WantedBy=multi-user.target
