# This is an example systemd config file for Stolon
# You can copy it to "/etc/systemd/system/stolon-keeper.service",

[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target network.target stolon-sentinel.service

[Service]
Type=simple

User=postgres
Group=postgres

EnvironmentFile=-/etc/sysconfig/stolon-stkeeper
{% for key, value in stolon_keeper_extra_env_vars.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
# this prestart will move wal to the wal directory on the next restart after initdb of pg_basebackup
# ExecStartPre={{ stolon_script_path }}/movewal.sh
ExecStart=/usr/local/bin/stolon-keeper

# only kill the stolon process, not it's children, so it will gracefully stop postgres. We need to test this.
KillMode=control-group

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=30

[Install]
WantedBy=multi-user.target
