#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
        log 127.0.0.1           local0
        log 127.0.0.1           local1 notice
        maxconn                 {{ haproxy_maxconn }}
        maxsessrate             {{ haproxy_maxconn }}
        #chroot                 /var/lib/haproxy
        pidfile                 /var/run/haproxy.pid
        user                    {{ haproxy_user }}
        group                   {{ haproxy_group }}
        daemon

        stats                   socket {{ haproxy_socket }} level admin
{% for global_var in haproxy_global_vars %}
        {{ global_var }}
{% endfor %}


#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
        log                     global
        mode                    {{ haproxy_mode }}
{% for timeout in haproxy_defaults_timeouts %}
        timeout {{ timeout }}
{% endfor %}
        maxconn                 {{ haproxy_maxconn }}


#---------------------------------------------------------------------
#HAProxy Monitoring Config
#---------------------------------------------------------------------
#Haproxy Monitoring run on port 8404
frontend haproxy-stat
        bind                    *:{{ haproxy_stats_port }}
        mode                    http
        option                  forwardfor
        option                  httpclose
        stats                   enable
        stats                   show-legends
        stats                   refresh 15s
        stats                   uri /stats

#---------------------------------------------------------------------
# FrontEnd Configuration
#---------------------------------------------------------------------
{% for front in haproxy_frontends %}
#{{ front.name }} on port {{ front.port }}
frontend {{ front.name }}
        bind                    {{ front.address }}:{{ front.port }} {{ front.bind_params |default('') }}
        mode                    {{ front.mode | default('http') }}
{% for frontparam in (front.params | default([])) %}
        {{ frontparam }}
{% endfor %}
{% if front.backend is defined %}
        default_backend         {{ front.backend }}
{% endif %}
{% for frontopt in (front.options | default([])) %}
        option                  {{ frontopt }}
{% endfor %}
{% if front.timeout_client | default('') | length > 0 %}
        timeout client          {{ front.timeout_client }}
{% endif %}
        log                     127.0.0.1 local3

{% endfor %}

#---------------------------------------------------------------------
# BackEnd roundrobin as balance algorithm
#---------------------------------------------------------------------
{% for back in haproxy_backends %}
# {{ back.name }}
backend  {{ back.name }}
        mode                    {{ back.mode | default('http') }}
        balance                 {{ back.balance_method |default('leastconn')}}
{% for backopt in (back.options | default([])) %}
        option                  {{ backopt }}
{% endfor %}
{% for backparam in (back.params | default([])) %}
        {{ backparam }}
{% endfor %}
{% for backend in back.servers %}
{% if backend.checkport is defined %}
        server                  {{ backend.name }} {{ backend.address }}:{{ backend.port }} check port {{ backend.checkport }} inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 1000 maxqueue 128 weight 100
{% else %}
        server                  {{ backend.name }} {{ backend.address }}:{{ backend.port }} check inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 1000 maxqueue 128 weight 100
{% endif %}
{% endfor %}
        timeout server          10800s

{% endfor %}
