[Unit]
Description=Postgres Router API for HAProxy
After=network.target

[Service]
ExecStart={{pgroute66_deploydir}}/pgroute66 -c "{{pgroute66_configdir}}/config.yaml"
KillMode=mixed
Type=exec
User=pgroute66

[Install]
WantedBy=multi-user.target
