---
hosts:
{% for dbserver in  groups["postgres"] %}
  {{ hostvars[dbserver]['ansible_default_ipv4']['address'] }}:
    host: {{ dbserver }}
    port: {{ postgresql_rw_port }}
    dbname: postgres
{% endfor %}

#loglevel: debug
#verbosity: 9

bind: 127.0.0.1
port: 8080
