---
- name: Create logfolder
  ansible.builtin.file:
    dest: "{{ walg_logfolder }}"
    state: directory
    owner: "{{ walg_user }}"
    group: "{{ walg_group }}"

- name: Install defaults configuration
  become: "true"
  become_user: root
  ansible.builtin.template:
    src: "wal-g.default.j2"
    dest: "/etc/default/wal-g"
    owner: "root"
    group: "root"
    mode: "0644"

- name: Cronjob for creating a backup.
  ansible.builtin.cron:
    name: "backup"
    minute: "{{ walg_cron_minute }}"
    hour: "{{ walg_cron_hour }}"
    dom: "{{ walg_cron_dom }}"
    dow: "{{ walg_cron_dow }}"
    month: "{{ walg_cron_month }}"
    job: "{{ walg_cron_command }}"
    user: "{{ walg_user }}"
    cron_file: wal-g
  when: walg_cron_enabled

- name: Set cronvars
  community.general.cronvar:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    cron_file: wal-g
  loop: "{{walg_cronvars}}"
  loop_control:
    label: "{{ item.name }}"
  when: walg_cron_enabled

- name: Copy scripts folder
  ansible.builtin.copy:
    src: scripts
    dest: "{{ walg_home }}"
    owner: "root"
    group: "root"
    mode: "0755"

- name: Enable walg_profile
  ansible.builtin.lineinfile:
    path: "{{ getent_passwd[walg_user][4] }}/.pgsql_profile"
    line: "source {{ walg_home }}/scripts/walg_profile"
    create: "true"
