---
- name: Get user info
  ansible.builtin.getent:
    database: passwd
    key: "{{ walg_user }}"
    split: ":"

# tasks file for wal-g
- name: Install
  ansible.builtin.include_tasks: install.yml
  when: walg_release | length > 0
- name: Deploy certs
  ansible.builtin.include_tasks: certs.yml
- name: Configure
  ansible.builtin.include_tasks: configure.yml
