---
- ansible.builtin.getent:
    database: passwd
    key: "{{ walg_user }}"
    split: ":"

# tasks file for wal-g
- ansible.builtin.include_tasks: install.yml
  when: walg_release | length > 0
- ansible.builtin.include_tasks: certs.yml
- ansible.builtin.include_tasks: configure.yml
