---
- name: Red Hat Satellite configuration
  when: "linux_rh_subscription | bool"
  block:
    - name: Enable the Postgresql RHSM subscriptions
      community.general.redhat_subscription:
        activationkey: "{{ linux_rh_subscription.activationkey }}"
        org_id: "{{ linux_rh_subscription.org_id }}"
        pool_ids: "{{ linux_rh_subscription.pool_ids }}"
        state: present

    - name: Enable rhel_misc repo
      ansible.builtin.yum_repository:
        name: "{{ linux_rh_misc_repo.name }}"
        description: "{{ linux_rh_misc_repo.description }}"
        baseurl: "{{ linux_rh_misc_repo.baseurl }}"
        enabled: "{{ linux_rh_misc_repo.enabled }}"
        gpgcheck: "{{ linux_rh_misc_repo.gpgcheck }}"
        gpgkey: "{{ linux_rh_misc_repo.gpgkey }}"
        sslverify: "{{ linux_rh_misc_repo.sslverify }}"
        sslcacert: "{{ linux_rh_misc_repo.sslcacert }}"
        sslclientkey: "{{ linux_rh_misc_repo.sslclientkey }}"
        sslclientcert: "{{ linux_rh_misc_repo.sslclientcert }}"
        priority: "{{ linux_rh_misc_repo.priority }}"
      when: "linux_rh_misc_repo"
    - name: Autoattach
      ansible.builtin.command: "subscription-manager auto-attach"
      changed_when: false
    - name: Attach
      ansible.builtin.command: "subscription-manager attach"
      changed_when: false

- name: Add repository # noqa: args[module]
  ansible.builtin.yum_repository: "{{ item }}"
  loop: "{{ linux_public_repos }}"

# This should be dnf package, but it hangs
- name: Upgrade all packages
  ansible.builtin.dnf:
    name: "*"
    state: "{{ linux_package_state }}"
  when: linux_package_state == latest
  async: 600
  poll: 5

- name: Disable postgresql module
  ansible.builtin.shell: |
    set -o pipefail
    dnf module list | grep -q postgres && dnf module disable -y postgresql || echo No postgres module
  changed_when: false
- name: Debug
  ansible.builtin.debug:
    var: packages
  vars:
    packages: "{{ linux_packages | bygroup(group_names) }}"

- name: Install packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: "{{ linux_package_state }}"
    update_cache: "true"
    disable_gpg_check: "{{ linux_disable_gpg_check }}"
  loop: "{{ linux_packages | bygroup(group_names) }}"
