---
- name: Ensure sysstat is installed
  ansible.builtin.dnf:
    name: sysstat
    state: "{{ linux_package_state }}"

- name: Ensure sysstat is running
  ansible.builtin.systemd:
    name: sysstat
    state: started
    enabled: "true"
