---
- name: Deploy systemd file
  ansible.builtin.template:
    src: "templates/pgroute66.service.j2"
    dest: "/etc/systemd/system/pgroute66.service"
    mode: "0600"

- name: Deploy config file
  ansible.builtin.template:
    src: "templates/pgroute66_config.yaml.j2"
    dest: "{{ pgroute66_configdir }}/config.yaml"
    owner: "root"
    group: "root"
    mode: "0644"

# Restart kan wel met pgroute66
- name: "Start pgroute66 service"
  become: true
  ansible.builtin.systemd:
    name: pgroute66.service
    state: restarted
    enabled: "true"
    daemon_reload: "true"
