---
- name: "Create pgroute66_osgroup"
  ansible.builtin.group:
    name: "{{ pgroute66_osgroup }}"
    system: "true"
    state: present

- name: "Create pgroute66_user"
  ansible.builtin.user:
    name: "{{ pgroute66_osuser }}"
    group: "{{ pgroute66_osgroup }}"
    create_home: "true"
    system: "true"
    state: present

- name: Get user info for {{ pgroute66_osuser }}
  ansible.builtin.getent:
    database: passwd
    key: "{{ pgroute66_osuser }}"
    split: ":"

- name: "~/.postgresql dir"
  ansible.builtin.file:
    path: "{{ getent_passwd[pgroute66_osuser][4] }}/.postgresql"
    state: directory
    owner: "{{ pgroute66_osuser }}"
    group: "{{ pgroute66_osgroup }}"
    mode: "0750"

- name: "Deploy certs to ~/.postgresql/"
  ansible.builtin.copy:
    dest: "{{ getent_passwd[pgroute66_osuser][4] }}/.postgresql/{{ item.name }}"
    owner: "{{ pgroute66_osuser }}"
    group: "{{ pgroute66_osgroup }}"
    mode: "{{ item.mode }}"
    content: "{{ item.content }}"
  diff: false
  loop:
    - name: root.crt
      mode: "0640"
      content: "{{ certs.client.postgres }}"
    - name: "postgresql.crt"
      mode: "0640"
      content: "{{ certs.client.pgroute66 }}"
    - name: "postgresql.key"
      mode: "0600"
      content: "{{ private_keys.client.pgroute66 }}"
  loop_control:
    label: "{{ item.name }}"
  when: pgroute66_cert_managed

- name: Create deploydir and configdir
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ pgroute66_deploydir }}"
    - "{{ pgroute66_configdir }}"

- name: Copy rpm
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/tmp"
    mode: "0600"
  loop: "{{ pgroute66_local_packages }}"

- name: Install pgroute66
  ansible.builtin.dnf:
    name: "/tmp/{{ item }}"
    disable_gpg_check: "true"
    state: "{{ pgroute66_package_state }}"
  loop: "{{ pgroute66_local_packages }}"

- name: Install pgroute66
  ansible.builtin.dnf:
    name: "{{ item }}"
    disable_gpg_check: "true"
    state: "{{ pgroute66_package_state }}"
  loop: "{{ pgroute66_packages }}"

- name: Deploy pgroute66 scripts
  ansible.builtin.template:
    src: "files/{{ item }}"
    dest: "{{ pgroute66_deploydir }}/{{ item }}"
    mode: "0755"
  loop:
    - checkpgprimary.sh
    - checkpgstandby.sh
