---
# defaults file for keepalived
keepalived_package_state: present
keepalived_local_packages: []
keepalived_packages:
  - keepalived

keepalived_virtual_cluster_name: "keepalived"
keepalived_virtual_router_id: "{{ keepalived_virtual_cluster_name | hashnum(256) }}"

# config values
keepalived_net_core_rmem_max: "16777216"
keepalived_net_ipv4_tcp_rmem: "4096 87380 16777216"
keepalived_net_core_wmem_max: "16777216"
keepalived_net_ipv4_tcp_wmem: "4096 16384 16777216"
keepalived_net_ipv4_tcp_fin_timeout: "20"
keepalived_net_ipv4_tcp_tw_reuse: "1"
keepalived_net_core_netdev_max_backlog: "10000"
keepalived_net_ipv4_ip_local_port_range: "15000 65001"
keepalived_net_ipv4_ip_nonlocal_bind: "1"
keepalived_net_ipv4_ip_forward: "1"
keepalived_net_ipv4_conf_all_forwarding: "1"

keepalived_sysctl_config:
  - key: "net.core.rmem_max"
    value: "{{ keepalived_net_core_rmem_max }}"
  - key: "net.ipv4.tcp_rmem"
    value: "{{ keepalived_net_ipv4_tcp_rmem }}"
  - key: "net.core.wmem_max"
    value: "{{ keepalived_net_core_wmem_max }}"
  - key: "net.ipv4.tcp_wmem"
    value: "{{ keepalived_net_ipv4_tcp_wmem }}"
  - key: "net.ipv4.tcp_fin_timeout"
    value: "{{ keepalived_net_ipv4_tcp_fin_timeout }}"
  - key: "net.ipv4.tcp_tw_reuse"
    value: "{{ keepalived_net_ipv4_tcp_tw_reuse }}"
  - key: "net.core.netdev_max_backlog"
    value: "{{ keepalived_net_core_netdev_max_backlog }}"
  - key: "net.ipv4.ip_local_port_range"
    value: "{{ keepalived_net_ipv4_ip_local_port_range }}"
  - key: "net.ipv4.ip_nonlocal_bind"
    value: "{{ keepalived_net_ipv4_ip_nonlocal_bind }}"
  - key: "net.ipv4.ip_forward"
    value: "{{ keepalived_net_ipv4_ip_forward }}"
  - key: "net.ipv4.conf.all.forwarding"
    value: "{{ keepalived_net_ipv4_conf_all_forwarding }}"

# By default, there is not configuration, because there is no "sane default" to
# set. You'll have to set it yourself. Here are a few hints.
#
# Have a look in `molecule/default/converge.yml` for an example.
# You do not need to set the state to `MASTER`, all nodes can also be set to
# `BACKUP`, in which case a random host will be selected to configure the
# virtual IP. Setting `state` to `MASTER` only initially sets that host to be
# the master. Over time, other nodes will likely become master.
#
# You can see the configure virtual IP using `ip addr list eth0`.

# keepalived_vrrp_instances:
#   # `name` defines an individual instance of the VRRP protocol running on an interface.
#   - name: VI_1
#   # `state` defines the initial state that the instance should start in.
#     state: MASTER
#   # `interface` defines the interface that VRRP runs on.
#     interface: ens192
#   # `unicast_src_ip` contains the primary address for unicasts.
#     unicast_src_ip: "192.168.1.1"
#   # `secondary_private_ip` refers the the peer's unicast address.
#     secondary_private_ip: "192.168.1.2"
#   # `virtual_router_id` is the unique identifier.
#     virtual_router_id: 51
#   # `priority` is the advertised priority.
#     priority: 255
#   # `check_status_command` will make +3 to priority if command return is 0 (optional). example:
#     check_status_command: /sbin/postfix status
#   # `authentication` specifies the information necessary for servers participating in VRRP to authenticate with each other.
#     authentication:
#       auth_type: PASS
#       auth_pass: 12345
#   # `virtual_ipaddress` defines the IP addresses (there can be multiple) that VRRP is responsible for.
#     virtual_ipaddresses:
#       - name: "192.168.122.200"
#         cidr: 24
keepalived_vrrp_instances: []
