---
- name: Create logfolder
  ansible.builtin.file:
    dest: "{{ pgquartz_logfolder }}"
    state: directory
    owner: "{{ pgquartz_osuser }}"
    group: "{{ pgquartz_osgroup }}"
    mode: "0700"

- name: Set cronvars
  community.general.cronvar:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    cron_file: pgquartz
  loop: "{{ pgquartz_cronvars }}"
  loop_control:
    label: "{{ item.name }}"

- name: Git checkout
  ansible.builtin.git:
    repo: "{{ item.url }}"
    dest: "{{ item.dest }}"
    version: "{{ item.branch | default('master') }}"
    force: true
  loop: "{{ pgquartz_definitions }}"

- name: Cronjobs
  ansible.builtin.cron:
    cron_file: pgquartz
    user: "{{ pgquartz_osuser }}"
    name: "pgQuartz job {{ item.name }}"
    job: "/usr/local/bin/pgquartz -c '{{ pgquartz_jobsdir }}/{{ item.name }}.yml' > /dev/null"
    minute: "{{ item.minute | default('*') }}"
    hour: "{{ item.hour | default('*') }}"
    dom: "{{ item.dom | default('*') }}"
    dow: "{{ item.dow | default('*') }}"
    month: "{{ item.month | default('*') }}"
  loop: "{{ pgquartz_jobs }}"

- name: Add logrotate
  ansible.builtin.copy:
    content: "{{ pgquartz_logrotate_config }}"
    dest: /etc/logrotate.d/pgquartz
    mode: "0644"
    owner: root
    group: root
