---
- name: Deploy systemd file
  ansible.builtin.template:
    owner: root
    group: root
    src: "templates/pgquartz.{{ item }}.j2"
    dest: "/etc/systemd/system/pgquartz.{{ item }}"
    mode: "0600"
  loop:
    - service
    - timer

- name: Delete logfolder
  ansible.builtin.file:
    dest: "{{ pgquartz_logfolder }}"
    state: absent

- name: Delete cron files
  ansible.builtin.file:
    dest: "/etc/cron.d/pgquartz"
    state: absent
