---
# handlers file for nagios

- name: Reload nagios
  ansible.builtin.systemd:
    name: "nagios.service"
    state: reloaded
  delegate_to: "{{ item.hostname }}"
  loop: "{{ nagios_servers }}"
  loop_control:
    label: "{{ item.hostname }}"
