---
- name: Install firewalld packages when defined
  become: "true"
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: Start firewalld systemd services
  become: "true"
  ansible.builtin.systemd:
    name: "firewalld.service"
    state: started
    enabled: "true"

- name: Permit traffic is required
  ansible.posix.firewalld:
    port: "{{ item.value }}/tcp"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ firewall_ports | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
