---
# vars file for chainsmith

chainsmith_client_folders: |
  {% set folders = [] %}
  {% for file in chainsmith_client_cert_files + chainsmith_client_key_files %}
  {% do folders.append({'dest': file.dest | dirname, 'owner': file.owner}) %}
  {% endfor %}
  {{ folders }}

chainsmith_folders: "{{ chainsmith_client_folders + chainsmith_server_folders }}"

chainsmith_client_cert_files: |
  {% set files = [] %}
  {% for user in chainsmith_users | bygroup(group_names) %}
  {% do files.append({
    'dest': getent_passwd[user][4] + '/' + chainsmith_client_cert_sub_folder + '/' + chainsmith_client_cert_filename,
    'owner': user,
    'content': chainsmith_results_client_certs[user]
  }) %}
  {% do files.append({
    'dest': getent_passwd[user][4] + '/' + chainsmith_client_cert_sub_folder + '/' + chainsmith_client_root_filename,
    'owner': user,
    'content': chainsmith_results_server_chain
  }) %}
  {% endfor %}
  {{ files }}

chainsmith_client_key_files: |
  {% set files = [] %}
  {% for user in chainsmith_users | bygroup(group_names) %}
  {% do files.append({
      'dest': getent_passwd[user][4] + '/' + chainsmith_client_cert_sub_folder + '/' + chainsmith_client_pkey_filename,
      'owner': user,
      'content': chainsmith_results_client_keys[user]})
  %}
  {% endfor %}
  {{ files }}

chainsmith_key_files: |
  {% set files = [] %}
  {% for user in chainsmith_users | bygroup(group_names) %}
  {% do files.append({'dest': getent_passwd[user][4] + '/' + chainsmith_client_cert_sub_folder + '/' + chainsmith_client_pkey_filename}) %}
  {% endfor %}
  {% do files.append({'dest': chainsmith_server_cert_path + '/server.key'}) %}
  {{ files }}

chainsmith_files: "{{ chainsmith_client_cert_files + chainsmith_client_key_files + chainsmith_server_cert_files + chainsmith_server_key_files }}"
