#!!!! This module requires the booleans 'domain_can_mmap_files'
#
# This module is custom build based on selinux alerts on a running system
#   sealert -l "*" | sed -n '/^# ausearch/{s/^# //;p}' | sort -u > get_audits.sh
#   bash ./get_audits.sh
#   cat *.te > my-nrpe.te
# And then bring all together.
# Other helpful commands:
#   sed -n '/^require {/,/^}/p' my-nrpe.te | grep '^[^r}]' | sort -u
#   grep allow my-nrpe.te

module my-nrpe 1.0;

require {
        class blk_file getattr;
        class file { execute execute_no_trans setattr getattr map open read write };
        type fixed_disk_device_t;
        type hostname_exec_t;
        type mount_exec_t;
        type mount_var_run_t;
        type nrpe_t;
        type tmp_t;
}

allow nrpe_t hostname_exec_t:file { execute getattr read };
allow nrpe_t tmp_t:file { write setattr };
allow nrpe_t hostname_exec_t:file { execute execute_no_trans map open read };
allow nrpe_t fixed_disk_device_t:blk_file getattr;
allow nrpe_t mount_exec_t:file { execute execute_no_trans getattr map open read };
allow nrpe_t mount_var_run_t:file { getattr open read };
