---
- name: Edit sysctl.conf
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: "true"
    state: present
    reload: "true"
  loop: "{{ keepalived_sysctl_config }}"

- name: Copy keepalived.service
  ansible.builtin.template:
    src: keepalived.service.j2
    dest: "/etc/systemd/system/keepalived.service"
    owner: "root"
    group: "root"
    mode: "0644"

- name: Configure keepalived
  ansible.builtin.template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
    mode: "0640"
  #  validate: keepalived --config-test --use-file=%s
  notify:
    - restart keepalived

- name: Start keepalived
  ansible.builtin.service:
    name: keepalived
    state: started
    enabled: "true"
