---
# tasks file for keepalived-haproxy

- name: Copy keepalived rpm files to server
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/tmp/"
    owner: "root"
    group: "root"
    mode: "0640"
  loop: "{{ keepalived_local_packages }}"

- name: Install keepalived rpm files
  ansible.builtin.dnf:
    name: "/tmp/{{ item }}"
    disable_gpg_check: true
    state: "{{ keepalived_package_state }}"
  loop: "{{ keepalived_local_packages }}"

- name: Install keepalived rpm files
  ansible.builtin.dnf:
    name: "{{ item }}"
    disable_gpg_check: true
    state: "{{ keepalived_package_state }}"
  loop: "{{ keepalived_packages }}"
