---
# tasks file for keepalived

- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: true
  delegate_to: localhost

- name: Install keepalived
  ansible.builtin.import_tasks: "install.yml"

- name: Config keepalived
  ansible.builtin.import_tasks: "config.yml"
