---
minio_package_state: present

minio_package_names:
  - minio
  - mcli

# Minio binaries path
minio_server_bin: "/usr/local/bin/minio"
minio_bin: "/usr/local/bin/mcli"

# Runtime user and group for the Minio server service
minio_user: minio
minio_group: "{{ minio_user }}"

# Path to the file containing the ENV variables for the Minio server
minio_server_envfile: /etc/default/minio

# Minio server listen address
minio_server_addr: ":9091"

# Minio server data directories
minio_server_datadirs:
  - "/var/lib/minio"

# Minio server cluster node list.
minio_server_cluster_nodes: []
# Additional environment variables to be set in minio server environment
minio_server_env_extra: ""

# Additional Minio server CLI options
minio_server_opts: ""

# Minio access and secret keys
minio_access_key: "AWSKEY"
minio_secret_key: "AWSSECRET"

__minio_endpoint_defaults:
  accessKey: "{{ minio_access_key }}"
  secretKey: "{{ minio_secret_key }}"
  url: "https://{{ ansible_fqdn }}"
  api: S3v4
  path: auto

minio_endpoint: {}
minio_buckets:
  - mybucket

minio_client_configdir: "{{ getent_passwd['minio'][4] }}/.mcli"
minio_server_configdir: "{{ getent_passwd['minio'][4] }}/.minio"

minio_cert_managed: true
minio_cert_from_string: "{{ minio_cert_managed }}"
minio_cert_remote: "{{ not minio_cert_from_string }}"

minio_insecure: false
minio_cli_options: "--ignore-existing {% if minio_insecure %} --insecure{% endif %}"

minio_cert_folders:
  client:
    path: "{{ minio_client_configdir }}/certs/CAs/"
    owner: "{{ minio_user }}"
  server:
    path: "{{ minio_server_configdir }}/certs"
    owner: "{{ minio_user }}"

minio_client_cert: "---- CERT ----"
minio_server_cert: "---- CERT ----"
minio_server_key: "---- KEY ----"
minio_server_chain: "---- CHAIN ----"

minio_cert_files:
  minio_chain:
    path: "{{ minio_cert_folders.client.path }}/CA_{{ ansible_hostname }}.crt"
    body: "{{ minio_client_cert }}"
    owner: "{{ minio_user }}"
  server_cert:
    path: "{{ minio_cert_folders.server.path }}/public.crt"
    body: "{{ minio_server_cert }}"
    owner: "{{ minio_cert_folders.server.owner }}"
    source: "/etc/pki/minio/server.crt"
  server_key:
    path: "{{ minio_cert_folders.server.path }}/private.key"
    body: "{{ minio_server_key }}"
    owner: "{{ minio_cert_folders.server.owner }}"
    source: "/etc/pki/minio/server.key"
  server_chain:
    path: "{{ minio_cert_folders.server.path }}/ca.pem"
    body: "{{ minio_server_chain }}"
    owner: "{{ minio_cert_folders.server.owner }}"
    source: "/etc/pki/minio/root.crt"
