---
# tasks file for minio

- name: Create minio client config dir
  ansible.builtin.file:
    dest: "{{ minio_client_configdir }}"
    state: directory
    mode: "0700"
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"

- name: Create minio client config file
  ansible.builtin.template:
    src: mc.config.json.j2
    dest: "{{ minio_client_configdir }}/config.json"
    mode: "0600"
    owner: "{{ minio_user }}"
    group: "{{ minio_group }}"
  vars:
    minio_client_config:
      version: "10"
      aliases:
        minio: "{{ __minio_endpoint_defaults | combine(minio_endpoint) }}"

# s3_bucket requires boto python modules and maintaining them on all backup servers requires
# efforts which we already take care of with mcli, so directly claling mcli instead
# - name: Create buckets
#  local_action:
#    module: s3_bucket
#    aws_access_key: '{{ minio_endpoint.accessKey }}'
#    aws_secret_key: '{{ minio_endpoint.secretKey }}'
#    s3_url: '{{ minio_endpoint.url }}'
#    name: '{{ item }}'
#    validate_certs: false
#  loop: '{{ minio_buckets }}'

- name: Create buckets
  become: true
  become_user: "{{ minio_user }}"
  ansible.builtin.command: "/usr/local/bin/mcli mb 'minio/{{ item }}' {{ minio_cli_options }}"
  loop: "{{ minio_buckets }}"
