---
- name: Checking for valid certs config
  ansible.builtin.assert:
    that:
      - "'\n' in minio_client_cert"
      - "'\n' in minio_server_cert"
      - "'\n' in minio_server_key"
      - "'\n' in minio_server_chain"
    fail_msg: "Please run chainsmith to succesfully setup certs"
    success_msg: "Client and server certs seem properly setup"
  when: minio_cert_managed

- ansible.builtin.include_tasks: install.yml
- ansible.builtin.getent:
    database: passwd
    key: "{{ minio_user }}"
    split: ":"
- ansible.builtin.include_tasks: certs.yml
- ansible.builtin.include_tasks: start.yml
- ansible.builtin.include_tasks: config_client.yml
