---
- name: Flush handlers
  ansible.builtin.meta: flush_handlers
- name: Enable and start the Minio service
  ansible.builtin.service:
    name: minio
    state: started
    enabled: true

- name: Check started
  ansible.builtin.uri:
    url: "{{ endpoint.url }}"
  register: minio_curl
  retries: 60
  delay: 1
  vars:
    endpoint: "{{ __minio_endpoint_defaults | combine(minio_endpoint) }}"
