---
- name: Get user info for {{ avchecker_user }}
  ansible.builtin.getent:
    database: passwd
    key: "{{ avchecker_user }}"
    split: ":"

- name: Create certs folders
  ansible.builtin.file:
    state: directory
    owner: "{{ item.value.owner }}"
    group: "{{ item.value.group }}"
    path: "{{ item.value.path }}"
    mode: "0700"
  loop: "{{ avchecker_cert_folders | dict2items }}"
  loop_control:
    label: "{{ item.key }} -> {{ item.value.path }}"

- name: Deploy cert files
  ansible.builtin.copy:
    dest: "{{ item.value.path }}"
    content: "{{ item.value.body }}"
    owner: "{{ item.value.owner }}"
    group: "{{ item.value.group }}"
    mode: "0600"
  loop: "{{ avchecker_cert_files | dict2items }}"
  loop_control:
    label: "{{ item.key }} -> {{ item.value.path }}"
  notify: Restart avchecker@ services
