---
- name: Install defaults configuration
  ansible.builtin.template:
    src: avchecker.default.j2
    dest: "/etc/default/avchecker_{{ item.key }}"
    owner: "root"
    group: "root"
    mode: "0644"
  loop: "{{ avchecker_defaults | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  notify: Restart avchecker@ services
