---
- name: Create avchecker group
  ansible.builtin.group:
    name: "{{ avchecker_group }}"
    state: present

- name: Create avchecker user
  ansible.builtin.user:
    name: "{{ avchecker_user }}"
    group: "{{ avchecker_group }}"
    shell: /bin/bash

- name: Create installdir
  ansible.builtin.file:
    name: "{{ avchecker_path }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Install script
  ansible.builtin.copy:
    src: avchecker.py
    dest: "{{ avchecker_path }}/avchecker.py"
    owner: root
    group: root
    mode: "0755"

- name: Install prereqs
  ansible.builtin.package:
    name: "{{ item }}"
    state: "{{ avchecker_package_state }}"
  loop: "{{ avchecker_packages }}"

- name: Install avchecker@ systemd service
  ansible.builtin.template:
    src: "avchecker@.service.j2"
    dest: "/etc/systemd/system/avchecker@.service"
    mode: "0644"
    force: true
