---
# tasks file for avchecker

- name: Install and configure avchecker
  when: avchecker_defaults | length > 0
  block:
    - ansible.builtin.include_tasks: install.yml
    - ansible.builtin.include_tasks: configure.yml
    - ansible.builtin.include_tasks: certs.yml
      when: avchecker_certs_managed
    - ansible.builtin.include_tasks: postgres.yml
    - ansible.builtin.include_tasks: start.yml
