---
- name: Create an avchecker user in Postgres
  become: true
  become_user: "postgres"
  community.postgresql.postgresql_user:
    name: "{{ avchecker_user }}"
    state: present
  environment:
    PGSERVICE: master
  run_once: true

- name: Grant permissions
  become: true
  become_user: "postgres"
  community.postgresql.postgresql_privs:
    roles: "{{ avchecker_user }}"
    privs: CREATE
    type: database
    objs: postgres
    login_db: postgres
    state: present
  environment:
    PGSERVICE: master
  run_once: true
