---
- name: Flush handlers
  ansible.builtin.meta: flush_handlers
- name: Start avchecker@ systemd services
  become: true
  ansible.builtin.systemd:
    name: "avchecker@{{ item.key }}.service"
    state: started
    enabled: "true"
    daemon_reload: "true"
  loop: "{{ avchecker_defaults | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
