---
before_install: >
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]
  then
    brew upgrade openssl || brew install openssl || true
    brew upgrade python@3 || brew install python@3 || true
    brew upgrade md5sha1sum || brew install md5sha1sum || true
    virtualenv venv -p python
    source venv/bin/activate
    pip install ansible
  fi
branches:
  except:
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
dist: focal
env:
  - OS=archlinux_latest
  - OS=centos_7
  - OS=centos_8
  - OS=debian_buster
  - OS=debian_stretch
  - OS=fedora_31
  - OS=fedora_32
  - OS=ubi8_8.1
  - OS=ubi8_8.2
  - OS=ubuntu_bionic
  - OS=ubuntu_focal
  - OS=ubuntu_xenial
language: python
python: "3.9"
script:
  - ansible-galaxy-local-deps-write
  - dcb --upstreamgroup andrewrothstein --upstreamapp docker-ansible-role --pullall --writeall --buildall --pushall --alltags ${OS}
services:
  - docker
sudo: required
