# Ansible managed (ansible_postgres)

# check_postgres
{% for check_name, check in item.value.items() %}
command[{{ check_name }}] = {{ nagios_scripts_folder }}/{{ check_name }} -H /tmp -w {{ check.warning }} -c {{ check.warning }} -u {{ nagios_nrpe_user }}
{% endfor %}
