# Managed by Ansible (https://github.com/pgvillage/pgvillage)

define host {
        use              redhat-host
        host_name        {{ inventory_hostname }}
        alias            {{ inventory_hostname }}
        address          {{ ansible_default_ipv4.address }}
        _vmnaam          {{ inventory_hostname }}
        hostgroups       {{ item.hostgroups | join(',') }}
}
{% for _, chapter in nagios_checks.items() %}
{% for check in chapter.keys() %}
define service {
        use                  dba-service
        host_name            {{ inventory_hostname }}
        service_description  {{ check }}
        check_command        check_nrpe_ssl!{{ check }}
}

{% endfor %}
{% endfor %}
